.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.signup-container {
  width: 100%;
  max-width: 560px;
  padding: 16px;
  background: #eee;
  color: #000;
}
