@import '../../styles/colors';

.button {
  border-radius: 4px;
  background: #666;
  font-family: inherit;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem .5rem;
  color: #fff;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;

  &:disabled {
    background: #ccc;
    color: #333;
    cursor: default;
  }

  &--primary {
    background: $green;
  }

  &--secondary {
    background: #333;
    color: #fff;
  }
}
