@import '../styles/colors';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background: #111;
  color: #fff;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}