@import '../../styles/breakpoints';

.page-layout {
  padding-top: 16px;
  display: flex;

  &--sidebar {
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }
  }
}

.page-content {
  flex: 1;

  @include breakpoint(sm) {
    padding-left: 1rem;
  }
}

.page-header {
  text-align: center;
}