@import '../../styles/breakpoints';

.page-layout {
  padding-top: 16px;
  display: flex;

  &--sidebar {
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }
  }
}

.page-content {
  flex: 1;
}
