@import '../../styles/colors';
@import '../../styles/breakpoints';

.nav {
  background: #222;
  padding: .5rem 0;

  h1 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 700;
    color: $green;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint(sm) {
      flex-direction: row;
    }
  }
}

.nav--active {
  text-decoration: underline;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  margin: 0 -1rem;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: all 100ms linear;

  @include breakpoint(sm) {
    flex-direction: row;
    max-height: none;
  }
}

.nav--open .nav-links {
  max-height: 200px;
}

.nav-link {
  padding: .5rem 0;
  text-transform: capitalize;

  @include breakpoint(sm) {
    padding: 0 1rem;
  }
}

.nav-toggle {
  width: 40px;
  cursor: pointer;
  display: inline-block;

  @include breakpoint(sm) {
    display: none;
  }

  span {
    height: 4px;
    background: $green;
    display: block;
    margin-bottom: 4px;
  }
}
